#main {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 0;
}

#app {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
}

.garden {
  position: absolute;
  box-sizing: border-box;
  background-image: url(../graphics/garden.png);
  background-size: cover;
  color: black;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  overflow: hidden;
  height: 100vm; /* IE9 fallback */
  width: 100vm; /* IE9 fallback */
  width: 100vmin;
  height: 100vmin;
  position: absolute;
}

.flower {
  position: absolute;
  border-radius: 50%;
}

.connection {
  background-position: center left;
  background-size: auto 100%;
  border-radius: 1em / 50%;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}

.green {
  background-image: url(../graphics/player-purple.png);
}

.blue {
  background-image: url(../graphics/player-purple.png);
}
