#main {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 0;
}

#app {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
  height: 60vm; /* IE9 fallback */
  width: 100vm; /* IE9 fallback */
  width: 100vmin;
  height: 60vmin;
}

.garden {
  position: absolute;
  box-sizing: border-box;
  background-image: url(../graphics/garden-90.png);
  background-size: cover;
  color: black;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 60vm; /* IE9 fallback */
  width: 60vm; /* IE9 fallback */
  width: 60vmin;
  height: 60vmin;
  position: absolute;
}

.underground {
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 60vm; /* IE9 fallback */
  width: 60vm; /* IE9 fallback */
  width: 60vmin;
  height: 60vmin;
  position: absolute;
  z-index: -1000;
}

.flower {
  position: absolute;
  border-radius: 50%;
}

.connection {
  background-position: center left;
  background-size: auto 100%;
  border-radius: 1em / 50%;
  pointer-events: none;
}

.connection.purple {
  background-image: url(../graphics/player-purple.png);
}

.connection.red {
  background-image: url(../graphics/player-red.png);
}

.highlight {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}

.highlight.purple {
  background-color: purple;
}

.highlight.red {
  background-color: red;
}

.message-box {
  text-align: center;
  border: solid 1px black;
  width: 20em;
  background-color: white;
  position: absolute;
  margin: auto;
  top: 30%;
  left: 0px;
  right: 0px;
  z-index: 255;
}

.tool-box {
  width: 20%;
  position: absolute;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: -1001;
}

.tool-box--menu {
  top: 0px;
  left: 0px;
}

.tool-card--menu {
  display: table;
  width: 100%;
  margin-left: 5%;
  text-align: center;
}

.menu--logo {
  transform: rotate(-90deg);
  display: table-column;
}

.menu--content {
  display: table-column;
}

.tool-box--score {
  bottom: 0px;
  left: 0px;
}

.tool-card {
  border: solid 1px black;
  background-color: white;
}

.tool-card--score {
  width: 30%;
  margin-left: 75%;
  text-align: center;
}
.tool-card--score-enter {
  margin-left: 100%;
}
.tool-card--score-enter.tool-card--score-enter-active {
  margin-left: 75%;
  transition: margin-left 500ms ease-in;
}
.tool-card--score-leave {
  margin-left: 75%;
}

.tool-card--score-leave.tool-card--score-leave-active {
  margin-left: 100%;
  transition: margin-left 300ms ease-in;
}

.start-game {
  height: 6em;
  margin: auto;
}

.button {
  border: solid 1px black;
  margin: 0em 1rem 1rem 1rem;
}

.score-line {
  margin: 0em 1rem 1rem 1rem;
  font-size: 1.5rem;
}
